In [3]:
# 변수 선언
a=10
b='test'

#변수 출력
print(a)
print(type(a))

print(b)
print(type(b))

10
<class 'int'>
test
<class 'str'>

In [7]:
a='test22743792483237497'
print(a)

b='testasdasdsda22743792483237497'
print(b)

test22743792483237497
testasdasdsda22743792483237497

In [8]:
## 불형 데이터 확인
# 참 거짓 판별 
a=True
print(type(a))

<class 'bool'>

In [10]:
b=(100>10)
c=(100<10)
d=(100==100)

print(b ,c ,d )

True False True

In [12]:
## 산술 연산자 
## 기본적인 사칙연산
a=7
b=3
print(a+b,a-b,a*b,a/b,a//b,a%b,a**b)

10 4 21 2.3333333333333335 2 1 343

In [13]:
c=2
print(a+b*c,(a+b)*c)

13 20

In [16]:
##대입 연산자
a+=5
print(a)

22

In [22]:
## 조건문 
a=11
if(a<11):
    print("a는 10보다 작습니다.")

In [27]:
##if~else
a=20
if(a<10):
    print("a는 10보다 작다")
else:
    print("a는 10보다 크거나 같다")

a는 10보다 크거나 같다

In [30]:
## if~다중조건문
score=int(input("점수를 입력하시오."))

print(score)
print(type(score))

if score>=90:
    print("A")
elif score>=80:
    print("B");
elif score>=70:
    print("C")
else :
    print("F")

    print("프로그램 종료")

85
<class 'int'>
B

In [29]:
##반복문
##for문

for i in range(0,10,1):
    print("%d 번째 반복" %i)

0 번째 반복
1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [34]:
## 1부터 10까지 합계 for문으로 구하기 
##합계 변수 생성
sum=0
for a in range(1,10,1):
    sum+=a 
    #sum=sum+a

     
     print(sum)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [38]:
##다중 for문 
##구구단 
for i in range(2,10,1):
    print("%d 단" %i)
    for j in range(1,10,1):
        print("%d x %d=%d" %(i,j,i*j))

2 단
2 x 1=2
2 x 2=4
2 x 3=6
2 x 4=8
2 x 5=10
2 x 6=12
2 x 7=14
2 x 8=16
2 x 9=18
3 단
3 x 1=3
3 x 2=6
3 x 3=9
3 x 4=12
3 x 5=15
3 x 6=18
3 x 7=21
3 x 8=24
3 x 9=27
4 단
4 x 1=4
4 x 2=8
4 x 3=12
4 x 4=16
4 x 5=20
4 x 6=24
4 x 7=28
4 x 8=32
4 x 9=36
5 단
5 x 1=5
5 x 2=10
5 x 3=15
5 x 4=20
5 x 5=25
5 x 6=30
5 x 7=35
5 x 8=40
5 x 9=45
6 단
6 x 1=6
6 x 2=12
6 x 3=18
6 x 4=24
6 x 5=30
6 x 6=36
6 x 7=42
6 x 8=48
6 x 9=54
7 단
7 x 1=7
7 x 2=14
7 x 3=21
7 x 4=28
7 x 5=35
7 x 6=42
7 x 7=49
7 x 8=56
7 x 9=63
8 단
8 x 1=8
8 x 2=16
8 x 3=24
8 x 4=32
8 x 5=40
8 x 6=48
8 x 7=56
8 x 8=64
8 x 9=72
9 단
9 x 1=9
9 x 2=18
9 x 3=27
9 x 4=36
9 x 5=45
9 x 6=54
9 x 7=63
9 x 8=72
9 x 9=81

In [43]:
## 2개의 주사위를 굴려서 두 주사위의 합이 5가 되는 주사위의 값
sum=0
for i in range(1,7,1):
    for j in range(1,7,1):
        sum=i+j
        if sum==5 :
            print("%d %d" %(i,j))

1 4
2 3
3 2
4 1

In [42]:
#for문 1부터 100까지의 숫자중에 짝수의 합계
sum=0
for i in range (1,101,1):#range(2,101,2)2씩 증가도 가능 
    if i%2==0:
        sum+=i

print(sum)

2550

In [44]:
##while 
##초기값을 설정
i=0
##while문 시작
while i<10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [45]:
##break문 
for i in range(1,101,1):
    print("%d 번째 반복" %i)
    if(i==5):
        break

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복

In [46]:
##1부터 100까지 합계를 구하는 수 합계가 500이 넘어가는 숫자와 합계의 값 
sum=0
for i in range(1,101,1):
    sum+=i
    if(sum>100):
     break
print('합계가 500 이상이 되는 범위의 숫자',i,'합계는',sum)

합계가 500 이상이 되는 범위의 숫자 32 합계는 528

In [54]:
i=1#while문으로 사용 
sum=0
while sum<100:
    sum+=i
    if sum>=500:
        break
    i=i+1
print('합계가 500 이상이 되는 범위의 숫자',i,'합계는',sum)

합계가 500 이상이 되는 범위의 숫자 15 합계는 105

In [55]:
##continue
##반복문으로 돌아간다

for i in range(1,10,1):
    if i<=3:
        continue
    print("%d 번째 반복" %i)

    #for i in range(1,10,1):
    #if i<=3:
     #   continue
    #print(i,'번째 반복')

4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [59]:
## 1부터 100까지 합계 중 짝수의 합계
for i in range(1,101,1):
    if(i%2==1):
        continue
    else:
        sum+=i
print(sum)

2655

In [61]:
#함수는 사용안해도 상관은 없음. 
## 튜플의 형태 

a=(1,'hello')
b=(3,3.14)
c=a+b#원소가 4개인 튜플이 만들어짐.
d=a*3#a의 원소가 3배
e=a[1]

print(a,b,c,d,e)

(1, 'hello') (3, 3.14) (1, 'hello', 3, 3.14) (1, 'hello', 1, 'hello', 1, 'hello') hello

In [62]:
##숫자 1만 출력하고 싶으면 
print(a[0])

1

In [64]:
a=(10,20,30,40)
print(a[1:3]) #20,30
print(a[2:])  #30 40 많이 사용하는 애

(20, 30)
(30, 40)

In [67]:
a=[20,10,50,5]
b=[10,20,30,40] 
c=['오리','사람','가나']
#sort함수 오름차순 정렬 
#reverse 역순 정렬
a.sort()
b.reverse()
c.reverse()

print(a,b,c)

[5, 10, 20, 50] [40, 30, 20, 10] ['가나', '사람', '오리']

In [68]:
## apend() 리스트의 마지막에 항목 추가
a.append(22)
print(a)

[5, 10, 20, 50, 22]

In [73]:
## 리스트의 특징 
a=[]#원소의 개수가 없음 
a.append(10)#하나만추가가능
print(a)

[10]

In [87]:
##1부터 70까지의 숫자들 중에 3의 배수를 리스트를 만들어서 출력
list=[]
for i in range (1,71,1):
    if i %18==0:
        list.append(i)
print(list)

[18, 36, 54]

In [88]:
sum=0
for i in list:
    sum+=i
print(sum)

108

In [92]:
##딕셔너리 형태
##사전형 데이터
##{key1:value1,key2:value2..}

dic={
    "name":"test","age":20,"phone":"01012345678"#0사라지지않게 하기위해 문자열로 받음
}

print(dic["name"])
dic["area"]="seoul"#새로운 데이터 추가 

print(dic)

test
{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'seoul'}

In [103]:
##  database 정보가 모여져있는 공간ex)Excel data는 딕셔너리 형태로 받아옴
# #데이터를 받아올 때 데이터의 형태 : [{},{},{}] 리스트 안의 딕셔너리 형태로 받아옴
# 
data=[
    {"name":"test1","age":20,},{"name":"test2","age":30},{"name":"test3","age":30}
] 

print(data[0]["name"][0])#대괄호를 먼저 없애고 중괄호를 없애면됨 data[0]출력시 딕셔너리 형태로 출력

t

In [105]:
#data에서 name의 값들만 리스트 형태로 출력하려면 어떻게? 

name=[]

for i in data:
    name.append(i["name"])#data[i]를 하면 data 안의 딕셔너리를 가져오므로 그냥 i만 해온다. 1차원으로 바로 접근하는거 
print(name)

['test1', 'test2', 'test3']

In [107]:
##문자열 내장 함수
##대문자로 변환, 소문자로 변환  upper(),lower()
text="hello world"
print(text.upper())
print(text.lower())

HELLO WORLD
hello world

In [112]:
#공백 제거 함수
#  strip() : 양쪽의 공백을 제거 lstrip(): 왼쪽의 공백을 제거 rstrip():오른쪽 공백을 제거 
# replace(): 선택한 문자열을 변경해주는 작업 or 공백을 제거하는데 사용 
text="   hello world   "
print(text.lstrip())
print(text.rstrip())
print(text.strip())
print(text.replace(" ",""))
print(text.replace("hello ","hi"))

hello world
   hello world
hello world
helloworld
   hiworld

In [116]:
##split() 기준이 되는 문자열이나 , . / 와 같은 특수문자열을 기준으로 문자열을 나눠주는 역할을 한다. 
a="a,b,c,d,e"
print(a)
a.split("ab,")

a,b,c,d,e

['a,b,c,d,e']

In [119]:
## 함수 만들기 
def func1():
    return "안녕하세요"

print(func1())#매개변수가 없으면 빈 괄호로 
print(func1())
print(func1())

안녕하세요
안녕하세요
안녕하세요

In [131]:
## 매개변수가 존재하는 함수 생성
def func2(x,y):
     result=x+y
     return result
    
print(func2(3,5))

8

In [133]:
## 매개변수의 기본값을 정의 
def func3(x,y=3): #기본 값은 뒤의 인자부터 채워감. x=3(x)
    result=x+y  
    return result  

print(func3(5,1))
print(func3(3))#x의 값에만 값을 넣어줌 y의 값을 고정하고 싶을 때

6
6

In [136]:
def func4(x,y):
    result=x**y
    return result

print(func4(5,2))
print(func4(y=5,x=2)) #매개변수의 값을 직접 지정 라이브러리 불러올때 유용

25
32

In [158]:
#함수 하나 생성, 매개변수는 2개 생성 
#함수가 하는 행동 (a부터 b까지의 합 리턴 
# x보다 y가 작은 경우에는 x부터 y의 까지의 합, 반대인 경우 y부터 x까지 합 

def func5(x,y):
    sum=0
    if x<y :
         for i in range(x,y+1,1):
            sum+=i
    elif y>x :
        for i in range(y,x,-1):
             sum+=i

     
    return sum #return 은 한 번 하면 끝 



print(func5(10,5))




a=10

0

In [157]:
def func6(x,y):
    sum=0
    while(y<x):
        sum+=x
        x+=1
    return sum
print(func6(,10))

42

In [169]:
def func7(x,y):
    sum=0
    ## x가 y보다 작은 경우
    if x<y:

        for i in range(x,y+1,1):
            sum+=i
        else :
            for i in range (y,x+1,1):
                sum+=i
c,,zxczx,cc,asczxc.,mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm return sum

print(func7(1,10))
print(func7(10,1))

None
None

In [164]:
def func8(x,y):
    sum=0
    for i in range(min(x,y),max(x,y)+1,1):
        sum+=i
    return sum

print(func8(1,10))
print(func8(10,1))

55
55

In [176]:
#함수 생성 매개 변수 3개 
#z값이 합이라고 하는 문자열이면 x+리턴 z값 차면 x-y

def func9(x,y,z):
    if z=="합":
        return x+y#return 은 한 번만 가능하므로 if return if return 으로 해줘도 된다. 첫번째 if가 아니면 두번째 if로 넘어감
    elif z=='차':
        return x-y
    else:
        return print("연산식이 잘못되었습니다.")

#print(func9(5,8,"합"))
#print(func9(5,8,"차"))
#print(func9(5,8,"곱"))

x=input("x,y,z값을 입력하시오")
y=input("x,y,z값을 입력하시오")
z=input("x,y,z값을 입력하시오")
print(func9(x,y,z))

85

In [ ]:
def func10(x,y,z):
    if z=="합":
        return x+y
        return x-y
    else:
        return print("연산식이 잘못되었습니다.")

print(func10(5,8,"합"))
print(func10(5,8,"차"))
print(func10(5,8,"곱"))

In [180]:
##map 함수 list에 있는 값을 함수에 하나하나 넣어서 확인하고 싶을 때
def func11(x):
    result=x**2
    return result

l=[1,2,3,4]
result=[]

for i in l:
    result.append(func11(i))

print(result) ##이걸 map 함수로 만들어버림

[1, 4, 9, 16]

In [182]:
##map 함수
result2=li(map(func11,l)) ##map함수를 list형태로 바꿔서 반환
print(result2)

TypeError: 'list' object is not callable

In [183]:
##람다 함수 
lamb=lambda x:x**2
print(lamb(4))

16

In [184]:
list(map(lamb,l))

TypeError: 'list' object is not callable